﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>                
                Welcome to the Bastard Card portal. Spread the word!
            </p>
        </div>
    </section>
}

<div ng-view></div>

@if (ViewBag.MemberQualifiesForGoldCard)
{
    <h1>Congratulations!</h1>
    <p>You have qualified for a gold card.</p>
    @Html.ActionLink("Request Gold Card", "RequestGoldCard", "application", new { membershipNumber=ViewBag.MembershipNumber }, null)
}

