﻿@model IEnumerable<NsbDemo.Core.Entities.Application>

@{
    ViewBag.Title = "Applications Expired";
}

<h2>Expired Applications</h2>

<ul>
@foreach (var appsExpired in Model)
{
    var link = String.Format("{0}, {1} ({2})", appsExpired.Applicant.FirstName, @appsExpired.Applicant.LastName, @appsExpired.Applicant.EmailAddress);
    <li>@Html.ActionLink(link, "resubmit", new { ApplicationId = appsExpired.Id })</li>
}
</ul>