﻿@model IEnumerable<NsbDemo.Core.Entities.Application>

@{
    ViewBag.Title = "ImagesPending";
}

<h2>Images Pending Processing</h2>

<ul>
@foreach(var appsPending in Model)
{
    var link = String.Format("{0}, {1} ({2})", appsPending.Applicant.FirstName, @appsPending.Applicant.LastName, @appsPending.Applicant.EmailAddress);
    <li>@Html.ActionLink(link, "imageprocessed", new { ApplicationId = appsPending.Id })</li>
}
</ul>