﻿@model NsbDemo.Core.Entities.Application

<form id="create">
    <table>
        <tr>
            <td>Title</td>
            <td>
                <input type="text" name="title" value="@Model.Applicant.Title" /></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>
                <input type="text" name="firstname" value="@Model.Applicant.FirstName"/></td>
            <td>Last Name</td>
            <td>
                <input type="text" name="lastname" value="@Model.Applicant.LastName" /></td>
        </tr>
        <tr>
            <td>Email Address</td>
            <td>
                <input type="text" name="emailaddress" value="@Model.Applicant.EmailAddress"/></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>Address 1</td>
            <td>
                <input type="text" name="addressline1" value="@Model.Applicant.Address.AddressLine1"/></td>
            <td>Address 2</td>
            <td>
                <input type="text" name="addressline2" value="@Model.Applicant.Address.AddressLine2" /></td>
        </tr>
        <tr>
            <td>PostCode</td>
            <td>
                <input type="text" name="postcode" value="@Model.Applicant.Address.PostCode"/></td>
            <td>City</td>
            <td>
                <input type="text" name="city" value="@Model.Applicant.Address.City"/></td>
        </tr>
        <tr>
            <td>Referee Card Reference</td>
            <td>
                <input type="text" name="refereeCardReference" value="@Model.RefereeCardReference"/></td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>
                <input type="text" name="dateofbirth" value="@Model.Applicant.DateOfBirth"/></td>
        </tr>
        <tr>
            <td>
                <input id="sub" value="Create" type="button" /></td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    $(function () {
        $("#sub").click(function () {
            $.ajax({
                type: "POST",
                url: "/application/create",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify($("#create").toObject({ mode: 'first' }))
            }).done(function (msg) {
                alert("Data Saved: " + msg);
            });
        });
    });
</script>
