﻿<!DOCTYPE html>
<html lang="en" ng-app="bikepartsnz">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Home", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Create", "Index", "Application")</li>
                        <li>@Html.ActionLink("Images Pending", "ImagesPending", "Application")</li>
                        <li>@Html.ActionLink("Apps Expired", "ApplicationsExpired", "Application")</li>
                        <li>@Html.ActionLink("Test", "Test", "Application")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @*<script type="text/javascript" src="~/scripts/angular.js"></script>
    <script type="text/javascript" src="~/scripts/controllers/productListController.js"></script>
    <script src="/scripts/controllers/app.js"></script>
    <script src="/scripts/services/products.js"></script>
    <script src="/scripts/angular-resource.js"></script>*@
    <script src="/scripts/form2js.js"></script>
    <script src="/scripts/jQuery.toObject.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
